.menu-principal {
    color: rgb(231, 227, 238);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-transform: capitalize;
}
.rosa {
    background-color: #8265a7;
}

.menu-principal li {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
}
.menu-principal li:hover {
    background-color: #920b0b2e;
    font-weight: bold;

}